*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Lucida Sans";
}

#container{
    display: flex;
    background-color: black;
    height: 100%;
}

header {
    border-bottom: 1px solid rgb(58, 58, 60)
}

.title{
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans";

}

.subtitle{
    color: gainsboro;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans";

}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    opacity: 1;
    z-index: 1;
}

#board{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    overflow: auto;
}


.square {
    position: relative;
    border: 2px solid rgb(58, 58, 60);
    min-width: 35px;
    min-height: 35px;
    font-size: 2rem;
    font-weight: bold;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;

}

#keyboard-container {
  height: 200px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

#ß{
  text-transform: lowercase
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}


#game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

#help, #dictionary, #stats, #settings, #share {
  color: gainsboro;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
}

#close-x{
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  
}

.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.modal__inner {
  background: rgba(217, 217, 214, 0);
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 0

}

.modal__top{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  padding: 1px;
  z-index: 5;
  border-bottom: 2px solid black;
}

.modal__content{
  padding: 0 var(--gap);
  overflow-y: auto;
  max-width: 800px;
  max-height: 700px;

}

li{
  display: flex;
  cursor: pointer
}

li:hover{
  text-decoration: underline;
}



